<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Design Library</title>

  {{> header.template}}
</head>

<body>
  {{> body.template }}

  {{> footer.template}}
</body>
</html>
